version: '3.9'

services:

{% for node in play_hosts %}
  minio-{{ loop.index }}:
    image: minio/minio
    hostname: minio-{{ loop.index }}
    container_name: minio-{{ loop.index }}
    ports:
      - "{{ minio_http_out_port }}:{{ minio_http_in_port }}"
      - "{{ minio_console_out_port }}:{{ minio_console_in_port }}"
    volumes:
      - {{ minio_storage_name }}:/data
    secrets:
      - access_key
      - secret_key
    deploy:
      restart_policy:
        condition: on-failure
        delay: 15s
        max_attempts: 5
        window: 60s
    extra_hosts:
    {% for count in play_hosts %}

      - "minio-{{ loop.index }}:{{ play_hosts | map('extract', hostvars, ['ansible_host']) | join(',') }}"

    {% endfor %}

    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:{{ minio_http_in_port }}/minio/health/live"]
      interval: 15s
      timeout: 30s
      retries: 5
    command: server --console-address ":{{ minio_console_in_port }}" /data

{% endfor %}

volumes:
  {{ minio_storage_name }}:
    name: {{ minio_storage_name }}
    external: true

secrets:
  access_key:
    external: true
  secret_key:
    external: true
